---
import Layout from "../layouts/Layout.astro";
import Header from "@components/Header.astro";
---

<Layout title="istv блог">
  <main>
    <Header />
  </main>
</Layout>

<style>
  body {
    height: 100vh;
  }
</style>
