<nav>
  <div>
    <span><a href="/istv">istv</a></span>
  </div>
  <ul>
    <li>
      <a href="/istv/texts">тексты</a>
    </li>
    <li>фото</li>
    <li>проекты</li>
    <li>кто я</li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    gap: 18px;
    font-family: "Tenor Sans", sans-serif;
  }

  span {
    font-size: 20px;
  }

  ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
</style>
