<div>
  <div class="toggle">
    <slot slot="toggleElement" />
  </div>
  <div class="toggle-content">
    <slot slot="toggleElement" />
  </div>
</div>

<style>
  .content {
    display: block;
  }
</style>

<script>
  const toggleElement = document.querySelector(".toggle");
  const toggleContent = document.querySelector(".toggle-content");

  toggleElement?.addEventListener("click", () => {
    toggleContent?.classList.toggle("content");
  });
</script>
