---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import BackNavigation from "@components/BackNavigation.astro";

const versLibres = await getCollection("versLibres");
---

<Layout title="Тексты">
  <main>
  <BackNavigation />
      <span class="toggle-heading">Верлибры [{versLibres.length}]</span>
      <ul>
        {versLibres.map(({ slug, data }) => (
          <li>
            <a href=`/texts/${slug}`>{data.title}</a>
          </li>
          ))
        }
        </ul>
  </main>
</Layout>

<style>
  .toggle-heading {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 12px;
  }
</style>
